body{
	margin: 0;
	paggin: 0;
	overflow-x: hidden;
}

#background{
	position: fixed;
	height: 100vh;
	width: 100vw;
}

#title{
	position: relative;
	top: 5vh;
	text-align: center;
	font-size: 7vh;
	color: #1B676B;
	font-family: courier new;
}

#imp{
	float: left;
	position: relative;
	left: 10vw;
	top: 15vh;
	
	height: 39vh;
	width: 20vw;
	
	text-align: center;
	font-size: 3vh;
	font-family: courier new;
	font-size: 3vh;
	color: white;
	
	background-color:#1B676B;
	border: solid 2px white;
	overflow: hidden;
}

#cezar{
	float: left;
	position: relative;
	left: 19.5vw;
	top: 15vh;
	
	height: 39vh;
	width: 20vw;
	
	text-align: center;
	font-size: 3vh;
	font-family: courier new;
	font-size: 3vh;
	color: white;
	
	background-color:#1B676B;
	border: solid 2px white;
	overflow: hidden;
}


#enigma{
	float: right;
	position: relative;
	top: 15vh;
	right: 10vw;
	
	height: 39vh;
	width: 20vw;
	
	text-align: center;
	font-size: 3vh;
	font-family: courier new;
	font-size: 3vh;
	color: white;
	
	background-color:#1B676B;
	border: solid 2px white;
	overflow: hidden;
}

.img{
	height: 30vh;
	width: 20vw;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.img:hover{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

#contact {
	height: 15vh;
	width: 20vw;
	position: relative;
	top: 60vh;
	left: -1vw;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	border: 2px solid white;
	overflow: hidden;
}

#contact:hover{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}